/*Geral*/
*{
    margin: 0;
    padding: 0;
}

/*Corpo principal*/
body{
    font-family: var(--fonte-padrao);
    font-weight: bold;
    font-size: 1.1em;
}

/*Fontes*/
@font-face{
    font-family: Destaque;  
    src: url(../fonts/theboldfont.ttf); 
    font-weight: bolder;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
}

/*Váriaveis*/
:root{
    --fonte-destaque: 'Destaque';
    --fonte-padrao: 'Roboto';

    --cor1: #ffc900;
    --cor2: #131313;
    --cor3: #fff;
    --cor4: #18579a;
}

/*Logo do site*/
.logo{
    display: flex;
    margin: auto;
    align-items: center;
}

/*Cabeçalho da página*/
.cabecalho{
    background-color: var(--cor1);
    padding: 40px;
}

/*Menu fixo*/
.menu{
    background-color: var(--cor4);
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: sticky;
    top: -1px;
}

/*Itens do menu*/
.item{
    color: var(--cor3);
    text-decoration: none;
    transition: 1s;
}

/*Animação do menu*/
.item:hover{
    background-color: var(--cor1);
    color: var(--cor2);
    margin: 3px;
    text-decoration: underline;
}

/*Corpo do site*/
.corpo{
    max-width: 450px;
    margin: 25px auto;
    padding: 25px;
}

/*Título principal*/
.titulo{
    font-family: var(--fonte-destaque);
    font-size: 1.6em;
    margin: 20px 0;
}

/*Subtítulo*/
.subtitulo{
    font-family: var(--fonte-destaque);
    font-size: 1.4em;
    margin-bottom: 20px 0;
    padding: 5px;
}

/*Parágrafo*/
section > p{
    margin: 15px 0;
    text-align: justify;
    line-height: 1.5;
}

/*Rodapé*/
footer{
    background-color: var(--cor1);
    padding: 15px;
}

.p_rodape{
    text-align: center;
    font-family: var(--fonte-destaque);
}